@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders:opsz,wght@10..72,100..900&family=Figtree:ital,wght@0,300..900;1,300..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Karla:ital,wght@0,200..800;1,200..800&family=Kumbh+Sans:wght,YOPQ@100..900,300&family=League+Spartan:wght@100..900&family=Lexend+Deca:wght@100..900&family=Libre+Franklin:ital,wght@0,100..900;1,100..900&family=Manrope:wght@200..800&family=Outfit:wght@100..900&family=Overpass:ital,wght@0,100..900;1,100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Work+Sans:ital,wght@0,100..900;1,100..900&family=Young+Serif&display=swap');
:root{
    --Green400: hsl(172, 67%, 45%);
    --Green900: hsl(183, 100%, 15%);
    --Grey500: hsl(186, 14%, 43%);
    --Grey400: hsl(184, 14%, 56%);
    --Grey200: hsl(185, 41%, 84%);
    --Grey50: hsl(189, 47%, 97%);
    --White: hsl(0, 100%, 100%);
}
body{
    margin: 0;
    background-color: var(--Grey200);
    width: 100%;
    height: 56rem;
    padding-block-start: 2.5rem;
    display: flex;
    justify-content: center;
}
main{
    font-family: 'Space mono',sans-serif;
}
h1{
    margin: 0.5rem;
    font-size: 1.5rem;
    text-align: center;
    color: var(--Green900);
}
.card{
    width: calc(clamp(20rem,100vw,25rem) - 4rem);
    height: 46.5rem;
    background-color: var(--White);
    margin-block-start: 2.5rem;
    padding-block: 2.5rem;
    padding-inline: 2rem;
    color: var(--Grey500);
    font-weight: 700;
    font-family: 'Space mono',sans-serif;
    position: relative;
}
input:focus{
    outline: none;
}
label{
    cursor: pointer;
}
.input{
    width: 100%;
    height: 2.75rem;
    display: flex;
    margin-block: 0.5rem;
    margin-block-end: 2rem;
    border: 1px solid transparent;
    cursor: pointer;
    border-radius: 0.25rem;
    overflow: hidden;
}
.input.error{
    border:1px solid red;
}
.dollar,.person{
    width: 10%;
    height: 100%;
    background-color: var(--Grey50);
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
.input .dollar{
    background-image: url(images/icon-dollar.svg);
}
.input .person{
    background-image: url(images/icon-person.svg);
}
#bill,#number{
    width: calc(90% - 2rem);
    height: calc(100% - 2px);
    background-color: var(--Grey50);
    border: none;
    cursor: pointer;
    padding-inline: 1rem;
    font-weight: 700;
    color: var(--Green900);
    font-size: 1.5rem;
}
.input:hover{
    border-color: var(--Green400);
}
.input:has(input[type='text']:focus){
    outline: 1px solid var(--Green400);
}
input[type='text']{
    text-align: right;
    caret-color: var(--Green400);
    font-family: 'Space mono',sans-serif;
}
.radio{
    width: 45%;
    height: 3rem;
    background-color: var(--Green900);
    display: flex;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    color: var(--White);
    cursor: pointer;
    margin-block: 1rem;
    font-size: 1.5rem;
    position: relative;
}
input[type='radio']{
    opacity: 0;
    width: 0px;
    height: 0px;
    cursor: pointer;
}
.radio.color{
    background-color: var(--Green400);
    color: var(--Green900);
}
.radio:has(input[type='radio']:checked){
    background-color: var(--Green400);
    color: var(--Green900);
}
.radio:has(input[type='radio']:checked):focus-within{
    outline: 2px solid var(--Green400);
}
.radio:has(input[type='radio']:not(:checked)):focus-within{
    outline: 2px solid var(--Green900);
}
.radiobutton{   
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-block-end: 1rem;
}
.custom input[type='text']{
    width: calc(100% - 1.25rem);
    height: calc(100% - 2px);
    border: none;
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: 0.05rem;
    background-color: var(--Grey50);
    position: absolute;
    color: var(--Green900);
    padding-inline-end: 1rem;
    border: 1px solid transparent;
    cursor: pointer;
    border-radius: 4px;
    padding-block: 0px;
}
.custom input[type='text']:hover{
    border-color: var(--Green400);
}
#custominput.color{
    border-color: var(--Green400);
    outline: 2px solid var(--Green400);
}
.custom:has(input[type='radio']:checked):focus-within{
    outline: 2px solid var(--Green400);
}
.custom:has(input[type='radio']:not(:checked)):focus-within{
    outline: 3px solid var(--Grey50);
}
.custom:has(input[type='radio']:not(:checked)):focus-within:hover{
    border-color: transparent;
}
.final{
    width: calc(100% - 3rem);
    height: 12rem;
    background-color: var(--Green900);
    padding-block: 2rem;
    padding-inline: 1.5rem;
    padding-block-end: 1rem;
    display: flex;
    flex-wrap: wrap;
    font-size: 0.9rem;
    border-radius: 1rem;
}
.tip{
    width: 50%;
    height: 4rem;
    display: flex;
    flex-direction: column;
}
.tip .text{
    color:var(--White);
    font-size: 1rem;
}
.tipnumber,.tipamount{
    display: inline-block;
    width: 50%;
    height: 4rem;
    font-size: 1.5rem;
    color: var(--Green400);
    text-align: right;
}
button[type='reset']{
    width: 100%;
    height: 3rem;
    border: none;
    background-color: var(--Green400);
    color: var(--Green900);
    font-size: 1.25rem;
    font-weight: 700;
    letter-spacing: 0.05rem;
    cursor: pointer;
    opacity: 0.4;
    border-radius: 0.5rem;
}
button[type='reset'].unfilter{
    opacity: 1;
}
button[type='reset']:hover{
    background-color: lightcyan;
    opacity: 0.8;
}
@media (min-width:54rem) {
    body{
        align-items: center;
        min-height: 61.5rem;
        height: 100vh;
    }
    .card{
        width: 50rem;
        height: 27rem;
        border-radius: 1rem;
    }
    form{
        display: flex;
        position: relative;
        width: 100%;
        height: 100%;
    }
    .inside{
        width: calc(50% + 2rem);
        position: relative;
    }
    .input,.radiobutton{
        width: calc(100% - 2rem);
    }
    .radiobutton label{
        width: 30%;
    }
    .final{
        position: relative;
        width: calc(50% - 5rem);
        height: calc(100% - 4rem);
        padding-block: 2rem;
    }
    .tipnumber,.tipamount{
        font-size: 2.5rem;
    }
    #second{
        position: relative;
        bottom: 5rem;
    }
    .tipamount{
        position: relative;
        bottom: 5rem;
    }
    button[type='reset']{
        width: calc(100% - 3rem);
        position: absolute;
        bottom: 2rem;
    }
}